/* Fonts */

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/ptsans-400.woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/ptsans-700.woff2);
  font-display: swap;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-dark: #333333;
  --basic-gray: #E5E5E5;
  --basic-light: #F2F2F2;
  --basic-white: #FFFFFF;

  --warm-light: #756257;
  --warm-dark: #615048;
  --neutral-light: #7DB54F;
  --neutral-dark: #6C9E42;
  --cold-light: #83B3D3;
  --cold-light20: #83B3D333;
  --cold-light12: #83B3D31F;
  --cold-dark: #68A2CA;
  --status-error: #FF5757;
  --status-warning: #FD922E;
  --status-success: #7DB550;
}

/* Global */

.page-body {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--cold-light);
  text-decoration: none;
  text-transform: uppercase;
}

.button-small {
  background-color: var(--warm-light);
}

.button-special {
  background-color: var(--cold-light);
}

.button-special-active {
 background-color: var(--neutral-light);
}

.fake-button {
  color: inherit;
}

.button-type-show {
  color: var(--basic-black);
  background-color: var(--basic-white);
  text-decoration: none;
}

.show-more {
  font-size: 20px;
  line-height: 26px;
}

/* Pages */

.navigation-link {
  font-weight: 700;
  text-align: center;
  color: inherit;
  text-decoration: none;
}

/* Intro */

.intro {
  background-image:
    url(/img/index-background.jpg),
    url(/img/divider.svg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

/* Features */

.features-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.features-text {
  font-size: 22px;
  line-height: 36px;
  text-align: center;
}

.features-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.features-item-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-dark);
}

.town-features-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.town-features-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-dark);
}

.foo-dark-bg {
  color: var(--basic-white);
  background-color: var(--cold-light);
}

.foo-light20-bg {
  background-color: var(--cold-light20);
}

.foo-light12-bg {
  background-color: var(--cold-light12);
}

/* Reservation */

.hotels-reservation-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.hotels-reservation-text {
  text-align: center;
  font-size: 22px;
  color: var(--basic-dark);
}

.button-hotels {
  background-color: var(--warm-light);
}

/* Subscribe */

.subscribe {
  color: var(--basic-white);
  background-color: var(--cold-light);
  background-image: url(/img/subscribe-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscribe-inner {
  color: var(--basic-black);
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.subscribe-inner-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: var(--basic-black);
  text-transform: uppercase;
}

.subscribe-text {
  font-size: 22px;
  text-align: center;
}

.subscribe-inner-text {
  font-size: 22px;
  text-align: center;
  color: var(--basic-dark);
}
/* Footer */

.social-link {
  text-decoration: none;
}
.contacts-address {
  font-style: normal;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration-line: none;
  color: var(--basic-black);
}

/* Inner */

.inner-wrap {
  color: var(--basic-white);
  background-color: var(--cold-light);
  background-image: url(/img/catalog/catalog-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

/* Breadcrumbs */

.breadcrumbs {
  color: var(--basic-white);
}

.breadcrumbs-link {
  color: inherit;
}

/* Filter */

.catalog-filter-title {
  font-weight: 700;
}

.control-label {
  font-size: 18px;
  line-height: 23px;
}

/* Catalog */

.catalog-hotels-subtitle {
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
}

/* Sorting */

.select-control {
  font-size: 18px;
  line-height: 23px;
  color: var(--basic-dark);
}

/* Item */

.hotel-card-title a {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color: var(--basic-black);
  text-decoration: none;
}

.hotel-card-main {
  font-size: 18px;
  line-height: 23px;
  color: var(--basic-dark);
}

.hotel-card-rating-description {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-dark);
  background-color: var(--basic-light);
  text-transform: uppercase;
}

/* Pagination */

.pagination-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-white);
  background-color:var(--cold-light);
  text-decoration: none;
}

.pagination-current {
  color: var(--basic-black);
  background-color: var(--basic-light);
}
